.u-section-1 .u-sheet-1 {
  min-height: 236px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 70px 267px 0 62px;
}

.u-section-1 .u-text-2 {
  margin-left: 62px;
  margin-right: 267px;
  margin-bottom: 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 686px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-style: italic;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 0 0 45px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 20px 45px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1133px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 987px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 473px;
}

.u-section-3 .u-image-1 {
  width: 1095px;
  height: 421px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  font-weight: normal;
  line-height: 1.8;
  margin: 0 auto 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 362px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 131px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 357px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 24px 0 -24px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px 37px 9px 45px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}