.u-section-1 .u-sheet-1 {
  min-height: 236px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 70px 267px 0 62px;
}

.u-section-1 .u-text-2 {
  margin-left: 62px;
  margin-right: 267px;
  margin-bottom: 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 729px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 45px 0 0 65px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0 65px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  font-style: italic;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 15px 0 0 91px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 0 60px 91px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 929px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 45px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1133px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 987px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 473px;
}

.u-section-3 .u-image-1 {
  width: 1095px;
  height: 421px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  font-weight: normal;
  line-height: 1.8;
  margin: 0 auto 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 362px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 329px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 277px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 208px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 131px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 397px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 20px 24px 0 62px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 24px 38px 35px 116px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 559px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 41px auto 0 65px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px auto 0 65px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 0 0 65px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  margin: 26px 0 41px 65px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 264px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-left: 65px;
  margin-top: 20px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 36px 65px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 400px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 53px auto 0 64px;
}

.u-section-7 .u-text-2 {
  margin-left: 64px;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.25rem;
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    font-size: 1rem;
  }
}