* {
    position: relative;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    background: white;
    color: black;
    overflow-x: hidden;
}

.app {
    display: flex;
    justify-content: space-between;
}

.right {
    text-align: center;
    margin: 0 auto;
    max-width: 50rem;
    position: relative;
    animation: 1s show ease;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

p {
    font-size: 25px;
    margin-top: 40px;
}

h1 {
    font-size: 35px;
}

.arrow-img {
    margin-top: 0px;
    width: 50%;
    height: 50%;
}

.right__img {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.cn-wrapper {
    margin-top: 10px;
    margin-bottom: 30px;
}

    .cn-wrapper li a {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 45px;
        font-weight: bold;
        text-decoration: none;
    }

        .cn-wrapper li a span {
            white-space: nowrap;
            position: relative;
            transform: rotate(-45deg) translate(25px, -25px);
        }

    .cn-wrapper li:nth-child(1) a {
        background: #fff676;
        border-top-right-radius: 30px;
    }

    .cn-wrapper li:nth-child(2) a {
        background: #d2b752;
    }

    .cn-wrapper li:nth-child(3) a {
        background: #d29052;
    }

    .cn-wrapper li:nth-child(4) a {
        background: #d26952;
        border-bottom-right-radius: 30px;
    }

    .cn-wrapper li a span {
        position: relative;
        top: 1.8em;
        display: block;
        font-size: 0.4em;
        font-weight: 700;
        text-transform: uppercase;
    }

    .cn-wrapper li a:hover,
    .cn-wrapper li a:active,
    .cn-wrapper li a:focus {
        background: #449e6a;
    }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

[hidden] {
    display: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: Arial;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C""\201D""\2018""\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled],
    html input[disabled] {
        cursor: default;
    }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
